body {
  margin: 0;
  padding: 0;
  background-color: #ecece2;
  font-size: 18px;
  font-family: fkvar, -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  box-sizing: border-box;
  border: none;
  outline: none;
  max-width: 100%;
}
@media screen and (max-width: 1024px) {
  body {
    max-width: 100%;
  }
}

header {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  header {
    max-width: 100%;
  }
}
header .left_wrap {
  padding-top: 18px;
}
header .left_wrap img {
  height: 40px;
  width: 130px;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 0 25px 0 25px;
  border-right: 1px solid;
}
@media screen and (max-width: 1024px) {
  header .left_wrap img {
    padding: 0 15px;
    width: 100px;
  }
}
header .left_wrap .drop_box {
  border-radius: 9px;
  font-size: 12px;
  padding: 4px 28px 2px 0px;
  margin-left: 25px;
}
@media screen and (max-width: 1024px) {
  header .left_wrap .drop_box {
    padding: 4px 20px 2px 5px;
    margin-left: 18px;
  }
}
header .right_wrap {
  padding-top: 18px;
  padding-right: 20px;
}
header .right_wrap ul {
  padding-top: 10px;
  padding-left: 25px;
  display: flex;
  justify-content: flex-end;
  gap: 70px;
  align-items: center;
  list-style-type: none;
  font-size: 14px;
  font-weight: 500;
}
@media screen and (max-width: 1024px) {
  header .right_wrap ul {
    gap: 50px;
    padding-right: 55px;
    font-size: 10px;
  }
}
header .right_wrap li a {
  text-decoration: none;
  color: #022d42;
}
header .right_wrap .btn_1 {
  background-color: #f2ffbd;
  border: none;
  border-radius: 10px;
  padding: 15px;
  width: 170px;
  font-weight: 600;
}
header .right_wrap .btn_1:hover {
  background-color: #022d42;
  color: #fff;
}
@media screen and (max-width: 1024px) {
  header .right_wrap .btn_1 {
    width: 99px;
    padding: 5px 5px;
    border-radius: 8px;
  }
}

.depoly {
  max-width: 100%;
  padding-top: 270px;
}
@media screen and (max-width: 1024px) {
  .depoly {
    padding-top: 190px;
    max-width: 100%;
  }
}
.depoly .phase .p_1 {
  float: right;
  color: #022d42;
  margin-bottom: 24px;
  padding-right: 5px;
}
.depoly .phase .para_1 {
  font-size: 92px;
  color: #022d42;
  line-height: 0.9998;
  font-weight: 600;
  max-width: 100%;
  padding-bottom: 35px;
  padding-left: 35px;
}
@media screen and (max-width: 1024px) {
  .depoly .phase .para_1 {
    font-size: 64px;
    font-weight: 400;
  }
}
.depoly .phase .main_img {
  width: 100%;
  height: 592px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 1024px) {
  .depoly .phase .main_img {
    max-width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
.depoly .plastics {
  position: relative;
  max-width: 100%;
  padding: 35px 0;
  border-bottom: 1px solid #022d42;
}
@media screen and (max-width: 1024px) {
  .depoly .plastics {
    max-width: 100%;
  }
}
.depoly .plastics .circle_1 {
  position: absolute;
  left: 66%;
  bottom: 66%;
  transform: translateX(80%);
  height: 275px;
  width: 275px;
  border-radius: 40%;
}
.depoly .plastics .circle_2 {
  position: absolute;
  left: 39%;
  bottom: 59%;
  transform: translateX(-50%);
  height: 293px;
  width: 303px;
  border-radius: 40%;
  z-index: -999999;
}
.depoly .plastics .circle_3 {
  position: absolute;
  left: 28%;
  bottom: 27%;
  transform: translateX(-74%);
  height: 305px;
  width: 305px;
  border-radius: 40%;
}
.depoly .plastics .circle_4 {
  position: absolute;
  left: 69%;
  bottom: 6%;
  transform: translateX(-75%);
  height: 278px;
  width: 330px;
  border-radius: 40%;
}
.depoly .plastics .box {
  padding-bottom: 85px;
}
.depoly .plastics .box .para_2 {
  max-width: 100%;
  font-size: 268px;
  color: #022d42;
  transition: ease all 0.5s;
  line-height: 86%;
}
.depoly .plastics .box .para_2 span.para_2 {
  display: block;
}
@media screen and (max-width: 1024px) {
  .depoly .plastics .box .para_2 {
    font-size: 155px;
    list-style: 1;
    max-width: 100%;
  }
}
.depoly .plastics .box .para_2.fadeIn {
  color: #fff;
}
.depoly .plastics .box .para_2.fadeOut {
  color: #022d42;
}
.depoly .incineration {
  max-width: 100%;
  padding-top: 105px;
  display: flex;
  justify-content: flex-start;
  align-items: left;
  padding-bottom: 20px;
  border-bottom: 1px solid #022d42;
}
@media screen and (max-width: 1024px) {
  .depoly .incineration {
    max-width: 100%;
    padding-top: 65px;
  }
}
.depoly .incineration .left_rack {
  max-width: 65%;
}
.depoly .incineration .left_rack .left_1 {
  display: flex;
  justify-content: flex-start;
  gap: 175px;
}
@media screen and (max-width: 1024px) {
  .depoly .incineration .left_rack .left_1 {
    gap: 75px;
  }
}
.depoly .incineration .left_rack .left_1 span {
  font-size: 85px;
  color: #022d42;
}
@media screen and (max-width: 1024px) {
  .depoly .incineration .left_rack .left_1 span {
    font-size: 48px;
  }
}
.depoly .incineration .left_rack ul {
  display: flex;
  justify-content: left;
  align-items: left;
}
.depoly .incineration .left_rack ul li {
  font-size: 16px;
  font-weight: 500;
}
@media screen and (max-width: 1024px) {
  .depoly .incineration .left_rack ul li {
    padding-top: 25px;
  }
}
.depoly .incineration .left_rack .para_3 {
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .depoly .incineration .left_rack .para_3 {
    text-align: center;
    padding-left: 97px;
  }
}
.depoly .incineration .left_rack .para_3 span {
  background: #dadaca;
  font-size: 15.93px;
}
@media screen and (max-width: 1024px) {
  .depoly .incineration .left_rack .para_3 span {
    font-size: 12px;
  }
}
.depoly .incineration .left_rack .rack_img {
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.depoly .incineration .right_rack {
  width: 35%;
  padding: 21px;
  border-left: 1px solid #022d42;
}
@media screen and (max-width: 1024px) {
  .depoly .incineration .right_rack {
    padding-top: 0;
  }
}
.depoly .incineration .right_rack h2 {
  font-size: 80px;
  color: #022d42;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .depoly .incineration .right_rack h2 {
    font-size: 65px;
    font-weight: 400;
  }
}
.depoly .incineration .right_rack .para_3 {
  background: #dadaca;
  font-size: 15.93px;
}
@media screen and (max-width: 1024px) {
  .depoly .incineration .right_rack .para_3 {
    font-size: 11px;
    text-align: center;
  }
}
.depoly .incineration .right_rack .para_4 {
  font-size: 38px;
  font-weight: 400;
  color: #022d42;
  line-height: 1;
}
@media screen and (max-width: 1024px) {
  .depoly .incineration .right_rack .para_4 {
    font-size: 19px;
  }
}
.depoly .incineration .right_rack .para_5 {
  font-size: 18px;
  color: #022d42;
  line-height: 1.5;
}
@media screen and (max-width: 1024px) {
  .depoly .incineration .right_rack .para_5 {
    font-size: 13px;
  }
}
.depoly .text {
  max-width: 100%;
}
@media screen and (max-width: 1024px) {
  .depoly .text {
    max-width: 100%;
  }
}
.depoly .text .p_2 {
  width: 100%;
  font-size: 268px;
  color: #022d42;
  line-height: 86%;
}
@media screen and (max-width: 1024px) {
  .depoly .text .p_2 {
    font-size: 160px;
    font-weight: 300;
  }
}
.depoly .enhanced {
  padding-top: 120px;
}
.depoly .enhanced .left_space {
  border-right: 1px solid rgba(2, 45, 66, 0.2);
  max-width: 100%;
  height: 415px;
}
.depoly .enhanced .left_space ul li {
  font-size: 18px;
  font-weight: 500;
  color: #022d42;
}
@media screen and (max-width: 1024px) {
  .depoly .enhanced .left_space ul li {
    padding-top: 25px;
  }
}
.depoly .enhanced .right_space {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.depoly .enhanced .right_space .usage {
  border-right: 1px solid rgba(2, 45, 66, 0.2);
  max-width: 67%;
}
.depoly .enhanced .right_space .usage:onmouseout ul li {
  padding-right: 4px;
  font-size: 12px;
  color: #022d42;
}
.depoly .enhanced .right_space .usage:onmouseout ul li span {
  color: #022d42;
  font-size: 13.99px;
  font-weight: 700;
}
.depoly .enhanced .right_space .usage:onmouseout .usage_content {
  padding: 260px 0 10px 0;
}
.depoly .enhanced .right_space .usage:onmouseout .usage_content p {
  display: none;
}
.depoly .enhanced .right_space .usage:onmouseout .usage_content .u_img {
  height: 100px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.depoly .enhanced .right_space .usage ul li {
  font-size: 16px;
}
.depoly .enhanced .right_space .usage ul li span {
  font-size: 36px;
  color: #022d42;
  font-weight: 500;
}
.depoly .enhanced .right_space .usage .usage_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.depoly .enhanced .right_space .usage .usage_content p {
  font-size: 19px;
  color: #022d42;
  text-align: left;
  max-width: 310px;
  padding: 55px 10px 10px 5px;
}
.depoly .enhanced .right_space .usage .usage_content .u_img {
  height: 325px;
  width: 402.988px;
  -o-object-fit: contain;
     object-fit: contain;
}
.depoly .enhanced .right_space .dlp {
  max-width: 11%;
  border-right: 1px solid rgba(2, 45, 66, 0.2);
  height: 415px;
}
.depoly .enhanced .right_space .dlp:hover {
  max-width: 67%;
}
.depoly .enhanced .right_space .dlp:hover ul li {
  padding-right: 4px;
  font-size: 16px;
  color: #022d42;
}
.depoly .enhanced .right_space .dlp:hover ul li span {
  color: #022d42;
  font-size: 36px;
  font-weight: 500;
}
.depoly .enhanced .right_space .dlp:hover .dlp_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.depoly .enhanced .right_space .dlp:hover .dlp_content p {
  display: block;
  font-size: 19px;
  color: #022d42;
  text-align: left;
  max-width: 310px;
  padding: 55px 10px 10px 5px;
}
.depoly .enhanced .right_space .dlp:hover .dlp_content .d_img {
  height: 325px;
  width: 402.988px;
  -o-object-fit: contain;
     object-fit: contain;
}
.depoly .enhanced .right_space .dlp:onmouseout ul li {
  padding-right: 4px;
  font-size: 12px;
  color: #022d42;
}
.depoly .enhanced .right_space .dlp:onmouseout ul li span {
  color: #022d42;
  font-size: 13.99px;
  font-weight: 700;
}
.depoly .enhanced .right_space .dlp:onmouseout .dlp_content {
  padding: 260px 0 10px 0;
}
.depoly .enhanced .right_space .dlp:onmouseout .dlp_content p {
  display: none;
}
.depoly .enhanced .right_space .dlp:onmouseout .dlp_content .d_img {
  height: 100px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.depoly .enhanced .right_space .dlp ul li {
  padding-right: 4px;
  font-size: 12px;
  color: #022d42;
}
.depoly .enhanced .right_space .dlp ul li span {
  color: #022d42;
  font-size: 13.99px;
  font-weight: 700;
}
.depoly .enhanced .right_space .dlp .dlp_content {
  padding: 260px 0 10px 0;
}
.depoly .enhanced .right_space .dlp .dlp_content p {
  display: none;
}
.depoly .enhanced .right_space .dlp .dlp_content .d_img {
  height: 100px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.depoly .goals {
  max-width: 100%;
  padding: 35px 0;
}
.depoly .goals .p_3 {
  color: #022d42;
  font-size: 235px;
  line-height: 1;
}
.depoly .goals .p_4 {
  text-align: left;
  padding-left: 25%;
  font-size: 93px;
  color: #022d42;
  line-height: 1;
  font-weight: 400;
}
.depoly .Natural_images {
  padding-left: 30%;
}
.depoly .Natural_images .pet_waste {
  border-right: 1px solid rgba(2, 45, 66, 0.2);
  border-bottom: 1px solid rgba(2, 45, 66, 0.2);
  padding: 0 20px 30px 35px;
}
.depoly .Natural_images .pet_waste svg {
  height: 250px;
  width: 140px;
}
.depoly .Natural_images .pet_waste p {
  padding-top: 30px;
  color: #000;
  font-size: 28px;
  font-weight: 600;
}
.depoly .Natural_images .plastic_plastic {
  border-right: 1px solid rgba(2, 45, 66, 0.2);
  border-bottom: 1px solid rgba(2, 45, 66, 0.2);
  padding: 0 20px 30px 35px;
}
.depoly .Natural_images .plastic_plastic svg {
  height: 250px;
  width: 140px;
}
.depoly .Natural_images .plastic_plastic p {
  padding-top: 30px;
  color: #000;
  font-size: 28px;
  font-weight: 600;
}
.depoly .Natural_images .low_energy {
  border-right: 1px solid rgba(2, 45, 66, 0.2);
  border-bottom: 1px solid rgba(2, 45, 66, 0.2);
  padding: 0 20px 30px 35px;
}
.depoly .Natural_images .low_energy svg {
  height: 250px;
  width: 140px;
}
.depoly .Natural_images .low_energy p {
  padding-top: 30px;
  color: #000;
  font-size: 28px;
  font-weight: 600;
}
.depoly .Natural_images .heat {
  border-right: 1px solid rgba(2, 45, 66, 0.2);
  border-bottom: 1px solid rgba(2, 45, 66, 0.2);
  padding: 0 20px 30px 35px;
}
.depoly .Natural_images .heat svg {
  height: 250px;
  width: 140px;
}
.depoly .Natural_images .heat p {
  padding-top: 30px;
  color: #000;
  font-size: 28px;
  font-weight: 600;
}
.depoly .Natural_images .chemicals {
  border-right: 1px solid rgba(2, 45, 66, 0.2);
  border-bottom: 1px solid rgba(2, 45, 66, 0.2);
  padding: 0 20px 30px 35px;
}
.depoly .Natural_images .chemicals svg {
  height: 250px;
  width: 140px;
}
.depoly .Natural_images .chemicals p {
  padding-top: 30px;
  color: #000;
  font-size: 28px;
  font-weight: 600;
}
.depoly .Natural_images .oil {
  border-right: 1px solid rgba(2, 45, 66, 0.2);
  border-bottom: 1px solid rgba(2, 45, 66, 0.2);
  padding: 0 20px 30px 35px;
}
.depoly .Natural_images .oil svg {
  height: 250px;
  width: 140px;
}
.depoly .Natural_images .oil p {
  padding-top: 30px;
  color: #000;
  font-size: 28px;
  font-weight: 600;
}
.depoly .Natural_images .emission {
  border-right: 1px solid rgba(2, 45, 66, 0.2);
  border-bottom: 1px solid rgba(2, 45, 66, 0.2);
  padding: 0 20px 30px 35px;
}
.depoly .Natural_images .emission svg {
  height: 250px;
  width: 140px;
}
.depoly .Natural_images .emission p {
  padding-top: 30px;
  color: #000;
  font-size: 28px;
  font-weight: 600;
}
.depoly .Natural_images .pollution {
  border-right: 1px solid rgba(2, 45, 66, 0.2);
  border-bottom: 1px solid rgba(2, 45, 66, 0.2);
  padding: 0 20px 30px 35px;
}
.depoly .Natural_images .pollution svg {
  height: 250px;
  width: 140px;
}
.depoly .Natural_images .pollution p {
  padding-top: 30px;
  color: #000;
  font-size: 28px;
  font-weight: 600;
}
.depoly .Natural_images .recycled_products {
  border-right: 1px solid rgba(2, 45, 66, 0.2);
  border-bottom: 1px solid rgba(2, 45, 66, 0.2);
  padding: 0 20px 30px 35px;
}
.depoly .Natural_images .recycled_products svg {
  height: 250px;
  width: 140px;
}
.depoly .Natural_images .recycled_products p {
  padding-top: 30px;
  color: #000;
  font-size: 28px;
  font-weight: 500;
}

footer {
  background: #aab6b6;
  padding-top: 35px;
}
footer .f_first {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 15px;
  border-bottom: 1px solid rgba(2, 45, 66, 0.2);
}
footer .f_first .f1 {
  max-width: 25%;
}
footer .f_first .f1 ul {
  display: block;
}
footer .f_first .f1 ul li {
  list-style-type: none;
  font-size: 18px;
  padding: 20px 0;
}
footer .f_first .f2 {
  max-width: 25%;
  padding-top: 5px;
}
footer .f_first .f2 ul {
  display: block;
}
footer .f_first .f2 ul li {
  list-style-type: none;
  font-size: 18px;
  padding: 25px 0;
}
footer .f_first .f3 {
  max-width: 50%;
  padding-top: 45px;
}
footer .f_first .f3 span {
  font-size: 30px;
  font-weight: 600;
  color: #022d42;
  padding-right: 76px;
}
footer .f_first .f3 .f_2 {
  color: #022d42;
  font-size: 20px;
}
footer .f_first .f3 .banner_1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  padding-top: 25px;
  padding-right: 40px;
}
footer .f_first .f3 .banner_1 .inp_1 {
  border: 1px solid #022d42;
  height: 50px;
  background: #aab6b6;
  border-radius: 15px;
  padding: 10px;
  width: 160px;
}
footer .f_first .f3 .banner_1 .inp_2 {
  width: 400px;
  border: 1px solid #022d42;
  height: 50px;
  background: #aab6b6;
  border-radius: 15px;
  padding: 10px;
}
footer .f_first .f3 .banner_1 .btn_2 {
  color: #fff;
  background-color: #022d42;
  width: 160px;
  padding: 10px;
  border-radius: 10px;
  border: none;
}
footer .f_first .f3 .banner_2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  padding-top: 25px;
}
footer .f_first .f3 .banner_2 .inp_3 {
  background-color: #aab6b6;
  height: 15px;
  width: 15px;
}
footer .f_first .f3 .banner_2 .f_3 {
  font-size: 14px;
  color: #022d42;
  padding: 0 auto;
}
footer .f_second {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 75px 55px 25px;
  border-bottom: 1px solid rgba(2, 45, 66, 0.2);
}
footer .f_second .mail {
  padding-top: 45px;
  max-width: 20%;
  color: #022d42;
}
footer .f_second .mail a {
  padding-top: -15px;
  color: #022d42;
  text-decoration: underline;
}
footer .f_second .project {
  padding-top: 45px;
  max-width: 20%;
  color: #022d42;
}
footer .f_second .project a {
  padding-top: -15px;
  color: #022d42;
  text-decoration: underline;
}
footer .f_second .location {
  padding-top: 45px;
  max-width: 60%;
  color: #022d42;
}
footer .f_second .location a {
  padding-top: -15px;
  color: #022d42;
  text-decoration: underline;
}
footer .f_third {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 75px 0 25px;
  border-bottom: 1px solid rgba(2, 45, 66, 0.2);
}
footer .f_third p {
  padding-top: 45px;
  max-width: 60%;
  color: #022d42;
  font-size: 14px;
}
footer .f_third p img {
  padding: 2px;
  height: 18px;
  width: 18px;
}
footer .f_third .A_1 {
  padding-top: 45px;
  max-width: 20%;
  padding-left: 100px;
  color: #022d42;
  font-size: 13px;
  text-decoration: underline;
}
footer .f_third .A_2 {
  padding-top: 45px;
  max-width: 20%;
  padding-right: 115px;
  color: #022d42;
  font-size: 13px;
}/*# sourceMappingURL=styles.css.map */